/*
    # Boxes Styling

    Position, size and rotation of teh different boxes.
*/

.backgroundbox {
    background: $brand-turquoise-color;
    position: absolute;
    z-index: -1;
}

.boxes {
    .backgroundbox {
        &_01 {
            width: 200px;
            height: 90px;
        }

        &_02 {
            width: 200px;
            height: 65px;
        }

        &_03 {
            width: 120px;
            height: 35px;
        }

        &_04 {
            width: 170px;
            height: 45px;
        }
    }
}

.box-layout-00 {
    .backgroundbox {
        &_01 {
            transform: rotate(30deg);
            top: 60px;
            right: 5%;
        }

        &_02 {
            transform: rotate(15deg);
            top: 160px;
            left: 10%;
        }

        &_03 {
            transform: rotate(-20deg);
            top: 270px;
            left: 2%;
        }

        &_04 {
            transform: rotate(-9deg);
            top: 300px;
            right: 15%;
        }
    }
}

.box-layout-01 {
    .backgroundbox {
        &_01 {
            transform: rotate(45deg);
            top: 60px;
            right: 5%;
        }

        &_02 {
            transform: rotate(-35deg);
            top: 125px;
            left: 7%;
        }

        &_03 {
            transform: rotate(7deg);
            top: 205px;
            right: 20%;
        }

        &_04 {
            transform: rotate(-7deg);
            top: 266px;
            left: 10%;
        }
    }
}

.box-layout-02 {
    .backgroundbox {
        &_01 {
            transform: rotate(-38deg);
            top: 60px;
            left: 5%;
        }

        &_02 {
            transform: rotate(-105deg);
            top: 125px;
            right: -1%;
        }

        &_03 {
            transform: rotate(-14deg);
            top: 146px;
            right: 20%;
        }

        &_04 {
            transform: rotate(9deg);
            top: 230px;
            left: 2%;
        }
    }
}

.box-layout-03 {
    .backgroundbox {
        &_01 {
            transform: rotate(17deg);
            top: 60px;
            right: 8%;
        }

        &_02 {
            transform: rotate(-20deg);
            top: 125px;
            left: 8%;
        }

        &_03 {
            transform: rotate(5deg);
            top: 188px;
            right: 35%;
        }

        &_04 {
            transform: rotate(-5deg);
            top: 230px;
            left: 4%;
        }
    }
}