/*
    # Entry Header Styling

    Since all pages (except posts) are visually similar in the entry section the styling is declared here at one place.
*/

// Headline
// Big Headline for Start and top-level items
.entry-header h1 {
    margin-top: 0;
    font-size: $font-size-headline-50;
    text-align: center;
    font-family: 'GT-Haptik-Regular', sans-serif;
}

// Small Headline for child-items
body.category:not(.category-allgemein):not(.category-uncategorized-en),
body.page-child {
    .entry-header h1 {
        font-size: $font-size-25;
    }
}

.entry-header {
    padding: 8rem $padding_s 4rem;

    // Hide boxes on small viewports
    .boxes {
        display: none;
    }

    // Description for category items and note
    .category-description p,
    .note,
    .sidebar_note_link span {
        font-size: $font-size-18;
        text-align: center;
    }

    .note {
        width: 50%;
        margin: 0 auto 3rem auto;
    }

    // Sidebar not hint for mobile
    .sidebar_note_link {
        .sidebar_note_arrow {
            width: 26.43px * 2;
            height: 45.77px * 2;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url('../assets/hfkasta_stack.svg#m_arrow_elevator_burger');
            transform: rotate(180deg);
            margin: 0 auto;
        }

        span {
            display: block;
            width: 100%;
            color: $brand-secondary-color;
            font-family: 'GT-Haptik-Bold', sans-serif;
            font-weight: bold;
        }
    }
}

@media all and (min-width: $breakpoint-tablet) {

    // Headline
    // Big Headline for Start and top-level items
    .entry-header h1 {
        font-size: $font-size-headline-70;
    }

    // Small Headline for child-items
    body.category:not(.category-allgemein):not(.category-uncategorized-en),
    body.page-child {
        .entry-header h1 {
            font-size: $font-size-headline-50;
        }
    }

    .entry-header {
        position: relative;
        padding: 2rem $padding_s 4rem;

        .boxes {
            position: relative;
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        h1 {
            width: 70%;
            margin: 0 auto 10px auto;
        }

        .note-line {
            margin-left: calc(50% - 267.4px);
            width: 267.4px;
            height: 220.7px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;
        }

        .note {
            position: absolute;
            margin: 0;
            width: 120px;
            height: 200px;
            transform: rotate(-15deg);

            p {
                position: absolute;
                bottom: 0;
                margin: 0;
            }
        }

        .note-swoosh-1 {
            background-image: url('../assets/hfkasta_stack.svg#m_swoosh_1');

            .note {
                top: -127px;
                left: -84px;
            }
        }

        .note-swoosh-2 {
            background-image: url('../assets/hfkasta_stack.svg#m_swoosh_2');

            .note {
                top: -85px;
                left: -87px;
            }
        }

        .note-swoosh-3 {
            background-image: url('../assets/hfkasta_stack.svg#m_swoosh_3');

            .note {
                top: -62px;
                left: -57px;
            }
        }

        .note-line .swoosh-l {
            display: none;
        }
    }

}

@media (min-width: $breakpoint-tablet-landscape) {
    .entry-header {
        .sidebar_note_link {
            display: none;
        }
    }
}

@media (min-width: $breakpoint-screen) {

    // Headline
    // Big Headline for Start and top-level items
    .entry-header h1 {
        font-size: $font-size-headline-130;
    }

    // Small Headline for child-items
    body.category:not(.category-allgemein):not(.category-uncategorized-en),
    body.page-child {
        .entry-header h1 {
            font-size: $font-size-headline-100;
        }
    }

    .entry-header {
        .note-line {
            margin-left: calc(50% - 271px);
            width: 271px;
            height: 223px;
        }

        .note {
            font-size: $font-size-35;
            width: 240px;
        }

        .note-swoosh-1 {
            background-image: url('../assets/hfkasta_stack.svg#l_swoosh_1');

            .note {
                top: -126px;
                left: -134px;
            }
        }

        .note-swoosh-2 {
            background-image: url('../assets/hfkasta_stack.svg#l_swoosh_2');

            .note {
                top: -89px;
                left: -136px;
            }
        }

        .note-swoosh-3 {
            background-image: url('../assets/hfkasta_stack.svg#l_swoosh_3');

            .note {
                top: -69px;
                left: -104px;
            }
        }
    }
}