/*
    # Footer Styling

    The styling for the footer.
*/

footer {
    border-top: $border-weight_m solid $brand-primary-color;
    background: #fff;
    // z-index: 20;
    position: relative;
    width: 100%;
    // height: $footer-height + 2px;
    height: auto;
    display: flex;
    box-sizing: border-box;

    // Sticky Footer
    margin-top: -$footer-height;

    .menu-footer-de-en-container {
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 10px 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-bottom: 6px;
            width: 100%;
            text-align: center;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    footer {
        padding: 10px 20px;

        ul li {
            width: auto;
            margin: 0 20px 0 0;
            text-align: left;
        }
    }
}

@media (min-width: $breakpoint-screen) {
    footer {
        border-top: $border-weight_l solid $brand-primary-color;
    }
}