/*
    # Styling for the language-switch

    The Style for the language switch.
*/

.language-switch {
    border: $border-weight_m solid $brand-primary-color;
    background: $contrast-primary-color;
    position: absolute;
    z-index: 30;
    padding: 15px 10px 15px 20px;
    margin-top: $ticker-height_s - 20px;
    left: -13px;
    transform: rotate($language-menu-rotation);
    font-size: $font-size-14;

    ul {
        margin: 0;
        padding: 0;
        transform: rotate(-$language-menu-rotation);

        li {
            list-style-type: none;
            display: inline;

            a {
                color: $brand-secondary-color;
            }

            &.current-lang {
                a {
                    font-family: 'GT-Haptik-Bold', sans-serif;
                }
            }

            &:not(:first-child)::before {
                content: '/';
                margin: 0 4px;
                color: $brand-secondary-color;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .language-switch {
        position: fixed;
        font-size: $font-size-18;
    }
}

@media (min-width: $breakpoint-screen) {
    .language-switch {
        margin-top: 30px;
    }
}