/*
    # Styling for general Links

    The theme differs between links that are external, internal, drive-links, portal-links and file-links.
*/

// Content Links
main .content,
nav .sidebar_note,
nav .sidebar_note_top {
    a {
        color: $brand-secondary-color;

        &::before {
            content: '';
            position: relative;
            display: inline-block;
        }

        &:hover {
            color: $brand-primary-color;
        }
    }
}

// Footer und Navigations-Links
nav .menu,
footer .menu {
    a {
        color: $brand-primary-color;

        &:hover {
            color: $brand-secondary-color;
        }
    }
}

// Links
main .content p,
main .content li,
nav .sidebar_note p,
nav .sidebar_note_top p,
main .content_sidebar-note p {

    a {
        display: inline-flex;
        align-items: baseline;

        &::before {
            content: '';
            display: inline-block;
            width: 24.1px;
            min-width: 24.1px;
            flex-basis: 24.1px;
            height: 20.5px;
            margin-bottom: -3px;
            background-repeat: no-repeat;
            background-position: left center;
            align-self: center;
        }
    }

    // Exclude telefon-links
    a[href*='tel:'] {
        height: auto;
        display: inline;

        &::before {
            display: none;
        }
    }

    // External Link
    a[href*='http://'],
    a[href*='https://'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_external-red');
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_external');
        }
    }

    // Link intern
    a[href*='localhost'],
    a[href*='hfkasta'],
    a[href*='asta.hfk-bremen'],
    a[href*='asta.uiuiui.digital'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_internal-red');
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_internal');
        }
    }

    // Mail Link
    a[href*='mailto'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_mail-red');
            margin-bottom: -4px;
            background-position: center center;
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_mail');
        }
    }

    // File Link
    a[href*='.pdf'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_download-red');
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_download');
        }
    }

    // Link to Drive / Sharepoint
    a[href*='hfkbremen.sharepoint'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_drive-red');
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_drive');
        }
    }

    // Link to portal
    a[href*='portal.hfk-bremen.de'] {
        &::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_portal-red');
        }

        &:hover::before {
            background-image: url('../assets/hfkasta_stack.svg#m_link_portal');
        }
    }
}

main .content .wp-block-gallery,
main .content .wp-block-image {
    a::before {
        display: none;
    }
}

@media (min-width: $breakpoint-screen) {

    // Links
    main .content p,
    main .content li,
    nav .sidebar_note p,
    nav .sidebar_note_top p,
    main .content_sidebar-note p {

        // Exclude telefon-links
        a:not([href*='tel:']) {
            height: $font-size-25 * 2;

            &::before {
                width: 36px;
                height: 26px;
                min-width: 36px;
                flex-basis: 36px;
            }
        }

        // External Link
        a[href*='http://'],
        a[href*='https://'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_external-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_external');
            }
        }

        // Link intern
        a[href*='localhost'],
        a[href*='hfkasta'],
        a[href*='asta.hfk-bremen'],
        a[href*='asta.uiuiui.digital'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_internal-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_internal');
            }
        }

        // Mail Link
        a[href*='mailto'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_mail-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_mail');
            }
        }

        // File Link
        a[href*='.pdf'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_download-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_download');
            }
        }

        // Link to Drive / Sharepoint
        a[href*='hfkbremen.sharepoint'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_drive-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_drive');
            }
        }

        // Link to portal
        a[href*='portal.hfk-bremen.de'] {
            &::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_portal-red');
            }

            &:hover::before {
                background-image: url('../assets/hfkasta_stack.svg#l_link_portal');
            }
        }
    }
}