$search-bar-height: 40px;
$icon-height: 18px;
$search-form-padding: 5px;
$transition-time: 0s;

.hamburger.hamburger--squeeze {
    position: fixed;
    right: 0;
    top: $ticker-height;
    z-index: 32;
}

nav {
    position: absolute;
    width: $sidebar-width;
    min-height: 100%;
    right: -$sidebar-width;
    top: 0;
    background: #fff;
    color: $brand-primary-color;
    border-left: $border-weight solid $brand-primary-color;
    z-index: 30;
    transition: right $transition-time ease;
    padding: 2rem;
    box-sizing: border-box;

    &.is-open {
        right: 0;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            position: relative;
            margin-bottom: 10px;

            a {
                color: $brand-primary-color;
                font-weight: normal;
                font-size: $mobile-large-font-size;
                word-break: break-word;
                text-decoration: none;
                color: $brand-primary-color;
            }

            &.menu-item-has-children {
                .dropdown-btn {
                    content: '';
                    position: relative;
                    display: inline-block;
                    margin: 0 0 4px 6px;
                    height: $icon-height;
                    width: $icon-height + 2;
                    background-image: url('../assets/hfkasta_stack.svg#m_arrow_nav');
                    background-repeat: no-repeat;
                    background-position: center center;
                    transform: rotate(0deg);
                    transition: transform $transition-time;

                    &:hover {
                        cursor: pointer;
                        background-image: url('../assets/hfkasta_stack.svg#m_arrow_nav-red');
                    }
                }

                &.is-open {
                    .dropdown {
                        transform: rotate(-180deg);
                    }

                    .sub-menu {
                        margin-top: 12px;
                        // max-height: 150px;
                        height: auto;
                        // transition: max-height $transition-time;
                    }
                }
            }
        }

        &.sub-menu {
            height: 0px;
            transition: max-height $transition-time;
            overflow: hidden;
            box-sizing: border-box;
            padding-left: 20px;

            li {
                a {
                    font-size: $mobile-medium-font-size;
                }

                &.current-menu-item {
                    a {
                        font-family: 'GT Haptik Bold', sans-serif;
                    }
                }
            }
        }
    }

    .search-form {
        height: $search-bar-height;
        width: 100%;
        position: relative;
        margin-left: -$search-form-padding;

        .search-field {
            width: 100%;
            height: 100%;
            padding: $search-form-padding;
            border: 0;
            border-radius: 0;
            background: #fff;
            color: $brand-primary-color;
            border: $border-weight solid $brand-primary-color;
            font-size: $mobile-large-font-size;

            &:focus {
                outline: none;
            }

            &::placeholder,
            &::-webkit-input-placeholder {
                color: $brand-primary-color;
                font-size: $mobile-large-font-size;
                line-height: $search-bar-height;
                vertical-align: middle;
            }

            /* clears the 'X' from Internet Explorer */
            &::-ms-clear,
            &::-ms-reveal {
                display: none;
                width: 0;
                height: 0;
            }

            /* clears the 'X' from Chrome */
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        .search-submit {
            border: 0;
            z-index: 32;
            height: $search-bar-height;
            width: $search-bar-height;
            background: none;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .search-icon {
            z-index: 31;
            margin: 8px;
            width: 23.29px;
            height: 23.29px;
            background-image: url('../assets/hfkasta_stack.svg#m_search');
            background-repeat: no-repeat;
            background-position: center center;
        }

        .search-submit,
        .search-icon {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.language-switch {
    border: $border-weight solid $brand-primary-color;
    position: fixed;
    z-index: 30;
    padding: 15px 10px 15px 20px;
    top: 70px;
    left: -13px;
    transform: rotate($language-menu-rotation);

    ul {
        margin: 0;
        padding: 0;
        transform: rotate(-$language-menu-rotation);

        li {
            list-style-type: none;
            display: inline;

            a {
                color: $brand-secondary-color;
            }

            &.current-lang {
                a {
                    font-family: 'GT Haptik Bold', sans-serif;
                }
            }

            &:not(:first-child)::before {
                content: '/';
                margin: 0 4px;
                color: $brand-secondary-color;
            }
        }
    }
}

// Home Button
.home-link {
    position: fixed;
    top: 95px;
    left: 0;
}

// Page Elevator
.page-elevator {
    display: none;
}

// Hide Sidebar Note on search-result site
body.search-result {
    .content {
        .sidebar_note {
            display: none;
        }
    }
}

// Hide Sidebar Notes on mobile
nav {
    .sidebar_note {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hamburger.hamburger--squeeze {
        display: none;
    }

    nav {
        position: relative;
        margin: 0;
        right: auto;

        ul {
            li {
                a {
                    font-size: $desktop-large-font-size;
                }
            }
        }

        .search-form .search-field {

            &::placeholder,
            &::-webkit-input-placeholder {
                font-size: $desktop-large-font-size;
            }
        }

        // Show Sidebar Notes on > 768px
        .sidebar_note {
            display: inline-block;
        }
    }

    // Hide Sidebar Notes in Content on < 768px
    .content {
        .content_note {
            display: none;
        }
    }

    // Page Elevator
    .page-elevator {
        position: fixed;
        display: block;
        left: -40px;
        bottom: $footer-height + 20px;
        width: 20px;
        height: auto;
        transition: left .5s ease;

        &.show {
            left: 20px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1680px) {
    nav {
        width: 30%;
    }
}