/*
    # Styling for the navigation

    The Style for the navigation. The mobile Navigation switches position after 1024px screen-width.
*/

.hamburger.hamburger--squeeze {
    position: fixed;
    right: 0;
    top: $ticker-height_s;
    z-index: 32;
}

nav {
    position: relative;
    float: right;
    top: 0;
    margin-left: 0;
    margin-right: -$sidebar-width;
    min-width: $sidebar-width;
    min-height: 100%;
    background: #fff;
    color: $brand-primary-color;
    border-left: $border-weight_m solid $brand-primary-color;
    z-index: 30;
    transition: margin-right $transition-time ease, margin-left $transition-time ease;
    padding: (20px + 15px + 24px) 20px ($footer-height + 20px) 20px;
    box-sizing: border-box;

    &.is-open {
        // right: 0;
        margin-right: 0;
        margin-left: -$sidebar-width;
    }

    // font-size
    ul li a,
    .search-form .search-field,
    .search-form .search-field::placeholder,
    .search-form .search-field::-webkit-input-placeholder {
        font-size: $font-size-18;
    }

    ul.sub-menu li a {
        font-size: $font-size-14;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                color: $brand-primary-color;
                font-weight: normal;
                word-break: break-word;
                text-decoration: none;
                color: $brand-primary-color;
            }

            &.menu-item-has-children {

                .dropdown-btn,
                .dropdown-btn:active,
                .dropdown-btn:focus {
                    content: '';
                    position: relative;
                    display: inline-block;
                    margin: 0px 0px 1px 10px;
                    width: 12.2px;
                    height: 10.1px;
                    background-image: url('../assets/hfkasta_stack.svg#m_arrow_nav');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    transform: rotate(0deg);

                    &:hover {
                        cursor: pointer;
                        background-image: url('../assets/hfkasta_stack.svg#m_arrow_nav-red');
                    }
                }

                &.is-open {
                    .dropdown-btn {
                        transform: rotate(-180deg);
                    }

                    .sub-menu {
                        margin-top: 12px;
                        height: auto;
                    }
                }
            }
        }

        &.sub-menu {
            height: 0px;
            transition: max-height $transition-time;
            overflow: hidden;
            box-sizing: border-box;
            padding-left: 20px;

            li {
                &.current-menu-item {
                    a {
                        font-family: 'GT-Haptik-Bold', sans-serif;
                    }
                }
            }
        }
    }

    .search-form {
        height: $search-bar-height_m !important;
        width: 100%;
        position: relative;
        margin-left: -$search-form-padding;

        input {
            border-radius: 0;
        }

        input[type="search"] {
            -webkit-appearance: none;
        }

        .search-bar {
            border: $border-weight_m solid $brand-primary-color !important;
            height: 100%;
            display: block;
        }

        .search-field {
            width: 100%;
            height: 100%;
            min-height: 100%;
            padding: $search-form-padding;
            border: 0 !important;
            outline: none !important;
            border-radius: 0 !important;
            background: #fff;
            color: $brand-primary-color;
            margin: 0;

            &:focus {
                outline: none;
            }

            &::placeholder,
            &::-webkit-input-placeholder {
                color: $brand-primary-color;
                // line-height: $search-bar-height_m;
                line-height: $font-size-18 + .2rem;
                opacity: 1;
                vertical-align: middle;
            }

            /* clears the 'X' from Internet Explorer */
            &::-ms-clear,
            &::-ms-reveal {
                display: none;
                width: 0;
                height: 0;
            }

            /* clears the 'X' from Chrome */
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        .search-submit {
            border: 0;
            z-index: 32;
            height: $search-bar-height_m;
            width: $search-bar-height_m;
            background: none;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }

            &:hover,
            &:focus,
            &:active {
                background: none;
            }
        }

        .search-icon {
            z-index: 31;
            margin: 8px;
            width: 23.29px;
            height: 23.29px;
            background-image: url('../assets/hfkasta_stack.svg#m_search');
            background-repeat: no-repeat;
            background-position: center center;
        }

        .search-submit,
        .search-icon {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

// Home Button
.home-link {
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    z-index: 30;
    transform: rotate(-75deg);
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../assets/hfkasta_stack.svg#m_arrow_elevator_red');
    width: 38.56px;
    height: 56.75px;
}

// Hide Sidebar Note on search-result site
body.search-result {
    .content {
        .sidebar_note {
            display: none;
        }
    }
}

// Hide Sidebar Notes on mobile
nav {

    .sidebar_note,
    .sidebar_note_top {
        display: none;
    }
}

@media (min-width: $breakpoint-tablet) {
    .hamburger.hamburger--squeeze {
        top: $ticker-height_m;
    }

    nav {

        // font-size
        ul li a,
        .search-form .search-field,
        .search-form .search-field::placeholder,
        .search-form .search-field::-webkit-input-placeholder {
            font-size: $font-size-25;
        }

        .search-form .search-field::placeholder,
        .search-form .search-field::-webkit-input-placeholder {
            line-height: $font-size-25 + .3rem;
        }

        ul.sub-menu li a {
            font-size: $font-size-18;
        }

        ul li.menu-item-has-children .dropdown-btn {
            margin: 0 0 2.5px 6px;
            width: 16.2px;
        }
    }

    .home-link {
        position: fixed;
    }
}

@media (min-width: $breakpoint-tablet-landscape) {
    .hamburger.hamburger--squeeze {
        display: none;
    }

    nav {
        position: relative;
        margin: 0;
        right: auto;
        padding: 20px;

        // Show Sidebar Notes on > 768px
        .sidebar_note,
        .sidebar_note_top {
            display: inline-block;
        }

        .sidebar_note_top {
            border-bottom: $border-weight_m solid $brand-primary-color;
            width: calc(100% + 42px);
            margin: 0 -21px 20px;
            padding: 0 20px 20px 20px;

            p {
                margin: 0;
            }
        }

        &.is-open {
            margin-left: 0;
        }
    }

    // Hide Sidebar Notes in Content on < 768px
    .content .content_note {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-screen) {
    nav {
        width: 30%;

        // font-size
        ul li a,
        .search-form .search-field,
        .search-form .search-field::placeholder,
        .search-form .search-field::-webkit-input-placeholder {
            font-size: $font-size-35;
        }

        .search-form .search-field::placeholder,
        .search-form .search-field::-webkit-input-placeholder {
            line-height: $font-size-35 + .4rem;
        }

        ul.sub-menu li a {
            font-size: $font-size-25;
        }

        ul li {
            &.menu-item-has-children {
                .dropdown-btn {
                    margin: 0 0 2.5px 6px;
                    width: 22.79px;
                    height: 14.34px;
                    background-image: url('../assets/hfkasta_stack.svg#l_arrow_nav');

                    &:hover {
                        cursor: pointer;
                        background-image: url('../assets/hfkasta_stack.svg#l_arrow_nav-red');
                    }
                }
            }
        }

        .sidebar_note_top {
            border-bottom: $border-weight_l solid $brand-primary-color;
        }

        .search-form {
            height: $search-bar-height_l !important;

            .search-bar {
                border: $border-weight_l solid $brand-primary-color !important;
            }

            .search-icon {
                width: 30.99px;
                height: 30.99px;
                background-image: url('../assets/hfkasta_stack.svg#l_search');
            }
        }
    }
}