.search-results {
    .wrapper {
        .search-result-link {
            padding: 20px 0;
            display: block;

            &:not(:first-child) {
                border-top: $border-weight solid $brand-primary-color;
            }
        }
    }
}