/*
    # Styling for the search-result page

    This styling is for the search result page. Since it got changed several times, the necessity of this file has to be checked.
*/

.search-results {
    .wrapper {
        .search-result-link {
            padding: 20px 0;
            display: block;
            height: auto;

            &::before {
                display: none;
            }

            &:not(:first-child) {
                border-top: $border-weight_m solid $brand-primary-color;
            }
        }
    }
}