.ticker-wrap {
    width: 100%;
    overflow: hidden;
    border-bottom: $border-weight solid $brand-primary-color;
    background: #fff;
    z-index: 30;
    height: $ticker-height;
    box-sizing: border-box;
    margin-bottom: -($ticker-height + 2px);
    position: relative;

    .ticker {
        font-size: $font-size-regular;
        white-space: nowrap;
        box-sizing: content-box;
        position: absolute;

        // The animation for the ticker is located in the footer.php because it needs a JS Variable
        // The time for the animation is located in the footer.php because it needs a JS Variable
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;

        div {
            display: inline-flex;
            color: $brand-primary-color;
            font-weight: bold;
            line-height: 0;

            a:hover p {
                color: $brand-secondary-color;
            }
        }

        .news_seperator {
            font-family: 'GT Haptik Bold', sans-serif;
        }

        // Pause ticker on hover
        &:hover {
            animation-play-state: paused;
        }

        .news {

            a:not([href*='localhost']):not([href*='hfkasta']):not([href*='asta.hfk-bremen']) {
                padding-right: $font-size-regular * 2.5;

                &::before {
                    content: '';
                    display: block;
                    float: left;
                    width: $font-size-regular * 2;
                    min-width: $font-size-regular * 2;
                    flex-basis: $font-size-regular * 2;
                    height: $font-size-regular * 2;
                    background-repeat: no-repeat;
                    background-position: center center;
                    padding: 0 $font-size-regular/4;
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external-red');
                }
            }
        }
    }
}