/*
    # Styling for the ticker

    The Style for the ticker.
*/

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    border-bottom: $border-weight_m solid $brand-primary-color;
    background: #fff;
    z-index: 30;
    height: $ticker-height_s;
    box-sizing: border-box;
    margin-bottom: -($ticker-height_s + 2px);
    position: relative;

    .ticker {
        font-size: $font-size-18;
        white-space: nowrap;
        box-sizing: content-box;
        position: absolute;

        // The animation for the ticker is located in the footer.php because it needs a JS Variable
        // The time for the animation is located in the footer.php because it needs a JS Variable
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;

        div {
            display: inline-flex;
            color: $brand-primary-color;
            font-weight: bold;
            line-height: 0;

            a:hover p {
                color: $brand-secondary-color;
            }
        }

        .news_seperator {
            //font-family: 'GT-Haptik-Bold', sans-serif;
        }

        // Pause ticker on hover
        &:hover {
            animation-play-state: paused;
        }

        .news {

            a:not([href*='localhost']):not([href*='hfkasta']):not([href*='asta.hfk-bremen']):not([href*='asta.uiuiui.digital']) {
                padding-right: 28.1px;

                &::before {
                    content: '';
                    display: block;
                    float: left;
                    width: 28.1px;
                    height: 20.5px;
                    min-width: 28.1px;
                    flex-basis: 28.1px;
                    margin-top: 8px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    padding: 0;
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external-red');
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .ticker-wrap {
        height: $ticker-height_m;
        margin-bottom: -($ticker-height_m + 2px);

        .ticker {
            font-size: $font-size-25;

            a p {
                font-size: $font-size-25;
            }

            .news {

                a:not([href*='localhost']):not([href*='hfkasta']):not([href*='asta.hfk-bremen']):not([href*='asta.uiuiui.digital']) {
                    padding-right: 40px;

                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_external');
                        margin-top: 12px;
                        width: 36px;
                        height: 32px;
                        min-width: 36px;
                        flex-basis: 36px;
                        padding: 0 4px 0 0;
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_external-red');
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-screen) {
    .ticker-wrap {
        height: $ticker-height-l;
        margin-bottom: -($ticker-height-l + 2px);

        .ticker {
            font-size: $font-size-35;

            .news {

                a p {
                    font-size: $font-size-35;
                }

                a:not([href*='localhost']):not([href*='hfkasta']):not([href*='asta.hfk-bremen']):not([href*='asta.uiuiui.digital']) {
                    padding-right: 44px;

                    &::before {
                        margin-top: 18px;
                        padding: 0 8px 0 0;
                    }
                }
            }
        }
    }
}