/*
    # Styling for the ticker

    The Style for the ticker.
*/

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    border-bottom: $border-weight_m solid $brand-primary-color;
    background: #fff;
    z-index: 30;
    height: $ticker-height_s;
    box-sizing: border-box;
    margin-bottom: -($ticker-height_s + 2px);
    position: relative;

    .ticker {
        margin-top: 2px;
        font-size: $font-size-18;
        font-weight: normal;
        white-space: nowrap;
        box-sizing: content-box;
        position: absolute;

        // The animation for the ticker is located in the footer.php because it needs a JS Variable
        // The time for the animation is located in the footer.php because it needs a JS Variable
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;

        div {
            display: inline-flex;
            color: $brand-primary-color;
            line-height: 0;

            a:hover p {
                color: $brand-secondary-color;
            }
        }

        .news_seperator {
            letter-spacing: 2px;
            margin: 0 3px 0 6px;
        }

        // Pause ticker on hover
        &:hover {
            animation-play-state: paused;
        }

        .news {

            a {
                padding-right: 28.1px;

                &::before {
                    content: '';
                    display: block;
                    float: left;
                    width: 28.1px;
                    height: 20.5px;
                    min-width: 28.1px;
                    flex-basis: 28.1px;
                    margin-top: 7px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    padding: 0;
                }

            }

            // External Links
            a[href*='http://'],
            a[href*='https://'] {
                &::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_external-red');
                }
            }

            // Link intern
            a[href*='localhost'],
            a[href*='hfkasta'],
            a[href*='asta.hfk-bremen'],
            a[href*='asta.uiuiui.digital'] {
                &::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_internal');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_internal-red');
                }
            }

            // File Link
            a[href*='.pdf'] {
                &::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_download');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_download-red');
                }
            }

            // Link to Drive / Sharepoint
            a[href*='hfkbremen.sharepoint'] {
                &::before {
                    margin-top: 6px;
                    background-image: url('../assets/hfkasta_stack.svg#m_link_drive');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_drive-red');
                }
            }

            // Link to portal
            a[href*='portal.hfk-bremen.de'] {
                &::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_portal');
                }

                &:hover::before {
                    background-image: url('../assets/hfkasta_stack.svg#m_link_portal-red');
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .ticker-wrap {
        height: $ticker-height_m;
        margin-bottom: -($ticker-height_m + 2px);

        .ticker {
            margin-top: 0px;

            a p,
            .news_seperator p {
                font-size: $font-size-25;
            }

            .news-seperator {
                margin: 0 4px 0 8px;
            }

            .news {

                a {
                    padding-right: 40px;

                    &::before {
                        margin-top: 10px;
                        width: 36px;
                        height: 30px;
                        min-width: 36px;
                        flex-basis: 36px;
                        padding: 0 4px 0 0;
                    }
                }

                // Link to Drive / Sharepoint
                a[href*='hfkbremen.sharepoint'] {
                    &::before {
                        margin-top: 9px;
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-screen) {
    .ticker-wrap {
        height: $ticker-height-l;
        margin-bottom: -($ticker-height-l + 2px);
        border-bottom: $border-weight_l solid $brand-primary-color;

        .ticker {
            margin-top: -4px;

            .news a p,
            .news_seperator p {
                font-size: $font-size-35;
            }

            .news {

                a {
                    padding-right: 44px;

                    &::before {
                        margin-top: 15px;
                        padding: 0 8px 0 0;
                        width: 46px;
                        min-width: 46px;
                        height: 40px;
                    }
                }

                // External Links
                a[href*='http://'],
                a[href*='https://'] {
                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_external');
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_external-red');
                    }
                }

                // Link intern
                a[href*='localhost'],
                a[href*='hfkasta'],
                a[href*='asta.hfk-bremen'],
                a[href*='asta.uiuiui.digital'] {
                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_internal');
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_internal-red');
                    }
                }

                // File Link
                a[href*='.pdf'] {
                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_download');
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_download-red');
                    }
                }

                // Link to Drive / Sharepoint
                a[href*='hfkbremen.sharepoint'] {
                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_drive');
                        margin-top: 14px;
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_drive-red');
                    }
                }

                // Link to portal
                a[href*='portal.hfk-bremen.de'] {
                    &::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_portal');
                    }

                    &:hover::before {
                        background-image: url('../assets/hfkasta_stack.svg#l_link_portal-red');
                    }
                }
            }
        }
    }
}