/*
    # Variables

    All global variables are declared here.
*/

// Variables
$brand-primary-color: #5a00be;
$brand-secondary-color: #d50e31;
$contrast-primary-color: #fff;
$contrast-secondary-color: #fff;
$text-color: $brand-primary-color;
$transition-time: .5s;
$border-weight: 2px;
$base-font: 'GT Haptik',
sans-serif;

// Font Sizes
$font-size-base: 16px;

$font-size-small: .875rem; // 14px
$font-size-regular: 1.125rem; // 18px
$font-size-large: 1.5625rem; // 25px
$font-size-big: 2.1875rem; // 35px

$font-size-headline-small: 3.125rem; // 50px
$font-size-headline-regular: 4.375rem; // 70px
$font-size-headline-big: 6.25rem; // 100px;
$font-size-headline-large: 8.125rem; // 130px

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-laptop: 1345px;
$breakpoint-screen: 1680px;

// Content-Padding
$padding_s: 15px;

// Footer
$footer-height: 60px;
$footer-icon-size: 40px;

// Ticker
$ticker-height_s: 40px;
$ticker-height_m: 50px;
$ticker-height_l: 65px;

// Language Switch
$language-menu-rotation: 12deg;

// Sidebar
$sidebar-width: 320px;
$icon-height: 18px;
$search-bar-height_m: 40px;
$search-bar-height_l: 50px;
$search-form-padding: 5px;