// Variables
$brand-primary-color: #5a00be;
$brand-secondary-color: #d50e31;
$contrast-primary-color: #fff;
$contrast-secondary-color: #fff;
$text-color: $brand-primary-color;
$transition-time: .5s;
$border-weight: 2px;
$base-font: 'GT Haptik', sans-serif;

// Font Sizes
$mobile-h1-font-size: 2.625rem; // Used for top heading
$mobile-large-font-size: 1.8rem; // Used for navigation, ticker, search-field
$mobile-medium-font-size: 1.2rem; // Used for sub-menues
$mobile-paragraph-font-size: 1.6rem; // Used for normal text

$desktop-h1-font-size: 4.5rem;
$desktop-large-font-size: 2rem;
$desktop-medium-font-size: 1.2rem;
$desktop-paragraph-font-size: 1.6rem;

// Footer
$footer-height: 60px;
$footer-icon-size: 40px;

// Ticker
$ticker-height: 40px;

// Language Switch
$language-menu-rotation: 12deg;

// Sidebar
$sidebar-width: 320px;
$search-bar-height: 40px;
$icon-height: 18px;
$search-form-padding: 5px;