/*
    # Variables

    All global variables are declared here.
*/

// Variables
$brand-primary-color: #5a00be;
$brand-secondary-color: #d50e31;
$brand-turquoise-color: #64F5DC;
$contrast-primary-color: #fff;
$contrast-secondary-color: #fff;
$text-color: $brand-primary-color;
$transition-time: .5s;
$base-font: 'GT-Haptik-Regular',
sans-serif;
$border-weight_m: 2px;
$border-weight_l: 3px;

// Font Sizes
$font-size-base: 16px;

$font-size-14: .875rem; // 14px
$font-size-18: 1.125rem; // 18px
$font-size-25: 1.5625rem; // 25px
$font-size-35: 2.1875rem; // 35px

$font-size-headline-50: 3.125rem; // 50px
$font-size-headline-70: 4.375rem; // 70px
$font-size-headline-100: 6.25rem; // 100px;
$font-size-headline-130: 8.125rem; // 130px

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-laptop: 1345px;
$breakpoint-screen: 1680px;

// Content
$padding_s: 15px;
$content-width_s: 680px;
$content-text-width_s: 540px;
$content-width_m: 85%;
$content-text-width_m: 80%;

// Footer
$footer-height: 60px;
$footer-icon-size: 40px;

// Ticker
$ticker-height_s: 40px;
$ticker-height_m: 50px;
$ticker-height_l: 65px;

// Language Switch
$language-menu-rotation: 12deg;

// Sidebar
$sidebar-padding: 20px;
$sidebar-width: 325px;
$icon-height: 18px;
$search-bar-height_m: 40px;
$search-bar-height_l: 50px;
$search-form-padding: 5px;