// Imports
@import "./variables";
@import "./fonts";
@import "./nav";
@import "./footer";
@import "./search";
@import "./entry-header";
@import "./boxes";
@import "./ticker";
@import "./links";
@import "./language-switch";
@import "./page-elevator";
@import "./content";
@import "./category";
@import "./post";

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}

html {
    /*scroll-behavior: smooth;*/
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
input,
button,
cite {
    color: $brand-primary-color;
}

p,
span,
a,
li,
input,
button,
figcaption {
    font-family: 'GT Haptik Regular', sans-serif;
    font-size: $font-size-regular;
}

figcaption {
    color: $brand-primary-color;
}

cite {
    font-family: 'GT Haptik Italic', sans-serif;
    font-size: $font-size-small;
}

a {
    text-decoration: none;
    color: $brand-secondary-color;
}

em {
    font-style: normal;
    font-family: 'GT Haptik Italic', sans-serif;
}

pre {
    white-space: break-spaces;
}

.section-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    width: calc(100% - 4rem);
}

.entry-content>* {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
}

.entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
.post {
    max-width: 52rem;
    width: calc(100% - 14rem);
}

.post {
    border: $border-weight_m solid;
    border-color: $brand-primary-color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
}

.post-inner .entry-content>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: calc(100% - 2rem);
}

.wrapper {
    padding: ($ticker-height_s + 2px) 0 $footer-height 0;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 20;

    main {
        position: relative;
    }
}

@media (min-width: $breakpoint-tablet) {
    .wrapper {
        padding: ($ticker-height-m + 2px) 0 $footer-height 0;
    }
}

@media (min-width: $breakpoint-tablet-landscape) {
    .wrapper {
        width: 100%;
        display: flex;

        main {
            width: calc(100% - #{$sidebar-width});
        }
    }
}

@media (min-width: $breakpoint-screen) {
    .wrapper {
        padding: ($ticker-height-l + 2px) 0 $footer-height 0;

        main {
            width: 70%;
        }
    }

    p,
    span,
    a,
    li,
    input,
    button,
    figcaption {
        font-size: $font-size-big;
    }
}